/* .tab-title{
    color: brown;
} */
/* .e-treegrid .e-treegridexpand::before, .e-treegrid .e-treegridcollapse::before {
  content: "\e7f9";
}
.e-grid .e-icon-gdownarrow::before,
.e-grid-menu .e-icon-gdownarrow::before {
  content: "\e934";
} */
