<ejs-accordion>
    <e-accordionitems>

    
<e-accordionitem expanded='true'>
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.18</small> - <span> 10 May 2021</span></div>
            </ng-template>
            <ng-template #content>
                <div>
                 <p>
                        <span class="label label-megna">New</span> Save user In Lms Database                     
                    </p>                 
                  
                </div>
            </ng-template>
        </e-accordionitem>



<e-accordionitem>
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.17</small> - <span> 16 April 2021</span></div>
            </ng-template>
            <ng-template #content>
                <div>
                 <p>
                 <span class="label label-danger">Bug</span> In ELN user wise dashboard countand listing
                  

                    </p>  
                     <p>
                   <span class="label label-danger">Bug</span> In EQS Add Equipment in maintenance Tab Next button bug solved


                    </p>  
                  
                  
                </div>
            </ng-template>
        </e-accordionitem>


    <e-accordionitem >
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.16</small> - <span> 12 April 2021</span></div>
            </ng-template>
            <ng-template #content>
                <div>
                 <p>
                        <span class="label label-megna">New</span> New Experiment Card on Eln Dashboard

                    </p>  
                  
                  
                </div>
            </ng-template>
        </e-accordionitem>

  <e-accordionitem >
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.15</small> - <span> 23 March 2021 </span></div>
            </ng-template>
            <ng-template #content>
                <div>
                 <p>
                        <span class="label label-megna">New</span> New  Microsoft Login page

                    </p>  
                    <p>
                        <span class="label label-megna">New</span> In EQS/ICS Master When we add Equipment/Instrument and perform IQ Qualification then if Calibration and maintenance types are already present then we calculate first Due Date and vice versa.

                    </p>                   
                    <p>
                        <span class="label label-megna">New</span> In EQS/ICS In sidebar Calibration Add new Drop down for Equipment Name/Instrument Name and Equipment Id/Instrument Id and based on Equipment Id/Instrument Id data is shown in Grid and add Add button in Action Column.

                    </p>
                    <p>
                        <span class="label label-megna">New</span> In EQS/ICS In sidebar Maintenance Add new Drop-down for Equipment Name/Instrument Name and Equipment Id/Instrument Id and based on Equipment Id/Instrument Id data is shown in Grid and add Add button in Action Column.

                    </p>
                    <p>
                        <span class="label label-megna">New</span> fetch All moduleName and Feature Name From Database and Based on User permission Module will be display to the User.
                    </p>   
                   
                     <p>
                        <span class="label label-purple">Change</span> Hide Additional Information tab from Add User in User Management.
                    </p>

                      <p>
                        <span class="label label-purple">Change</span> Display NA for Breakdown Maintenance DueDate and NextDue Date in ICS and MAintenance grid .
                    </p>
                  
                </div>
            </ng-template>
        </e-accordionitem>



        <e-accordionitem >
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.14</small> - <span> 3 March 2021 </span></div>
            </ng-template>
            <ng-template #content>
                <div>
                    <p>
                        <span class="label label-megna">New</span> Allow new Version creation at any stage without
                        discontinuing existing version.
                    </p>
                    <p>
                        <span class="label label-purple">Change</span> ELN - Dashboard cards are shown version wise
                        instead of experiment wise.
                    </p>
                    <p>
                        <span class="label label-megna">New</span> ELN -Dashboard : New bucket added for All Version listing.
                    </p>
                    <p>
                        <span class="label label-megna">New</span> PDF report - Section header shown center aligned.
                    </p>
                    <p>
                        <span class="label label-megna">New</span> ELN Experiment - Experiment title shown at top so that can visible from all tabs.
                    </p>
                    <p>
                        <span class="label label-purple">Change</span> ELN - Experiment No. is editable for Version wise.
                    </p>
                    <p>
                        <span class="label label-megna">New</span> ELN Dashboard - Version No and Created Date shown in
                        tabular format.
                    </p>
                    <p>
                        <span class="label label-megna">New</span> Table of content shown in PDF report.
                    </p>
                    <p>
                        <span class="label label-megna">New</span> PDF report should have section wise (tab wise) page breaks.
                    </p>
                    <p>
                        <span class="label label-megna">New</span> ELN - IC/EQ Tab -<br>
                        <span class="p-l-25">a) Add Instrument - fetching instruments based on Instrument grid from
                            ICS.</span><br>
                        <span class="p-l-25">b) Add Equipment - fetching equipments based on Equipment grid from
                            EQS.</span><br>
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> Instrument names arent visible on preview of experiment even when they are filled in duly. tick marking should get locked with the click of 'sign and submit'.
                    </p>
                    <p>
                        <span class="label label-purple">Change</span> Preview of the report should have an export instead of print.
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> Print button and the Back button on preview window dont match.
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> User should not be able to tick mark rework points after signing and submitting the experiment ahead. tick marking should get locked with the click of 'sign and submit'.
                    </p>
                </div>
            </ng-template>
        </e-accordionitem>
        <e-accordionitem>
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.13</small> - <span> 26 Feb 2021 </span></div>
            </ng-template>
            <ng-template #content>
                <div>
                    <p>
                        <span class="label label-megna">New</span> Added Validation For Instrument/Equipment Name.
                    </p>
                    <p>
                        <span class="label label-megna">New</span> EQS ICS Excel,Pdf Report Download Entry in Audit
                        Trail
                    </p>
                    <p>
                        <span class="label label-megna">New</span> In Eqs,Ics calibration and maintenance first due date
                        calculate from first IQ date
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> Search option for DepartmentHead DropDown In
                        Usermanagement Department
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> Display all InstrumentId ,EquipmentId in calibration
                        and
                        if calibration is set to off give message to on calibration from master
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> In Ics, Eqs Display all maintenance in maintenance
                        dropdown in maintenance and if that maintenace is not added gives message to add maintenance
                        from
                        master
                    </p>
                </div>
            </ng-template>
        </e-accordionitem>


        <e-accordionitem>
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.12</small> - <span> 11 Feb 2021 </span></div>
            </ng-template>
            <ng-template #content>
                <div>
                    <p>
                        <span class="label label-megna">New</span> EQS ICS Excel,Pdf Report Download Entry in Audit
                        Trail
                    </p>
                </div>
            </ng-template>
        </e-accordionitem>

        <e-accordionitem>
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.11</small> - <span> 05 Feb 2021 </span></div>
            </ng-template>
            <ng-template #content>
                <div>
                    <p>
                        <span class="label label-megna">New</span> Added next Button On Update in User management
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> Sort Based on Employee id issue Solved.
                    </p>
                </div>
            </ng-template>
        </e-accordionitem>

        <e-accordionitem>
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.10</small> - <span> 28 jan 2021 </span></div>
            </ng-template>
            <ng-template #content>
                <div>
                    <p>
                        <span class="label label-megna">New</span> QC-ELN Module
                    </p>
                    <p>
                        <span class="label label-megna">New</span> Place a cancel icon in search bar in ICS,EQS,User
                        management Grid
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> Employee Id cannot repeat issue Solved.
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> User Management in User Permission Close button
                        should ask to save the change Issue solved
                    </p>

                </div>
            </ng-template>
        </e-accordionitem>

        <e-accordionitem>
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.9</small> - <span> 25 jan 2021 </span></div>
            </ng-template>
            <ng-template #content>
                <div>
                    <p>
                        <span class="label label-megna">New</span> Save User In LMS Database
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> User Management Add Department dropdown filter issue
                        Solved.
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> User Management R & D shows Research &amp;
                        Development Issue solved
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> Usermanagement User department updated successfully
                        - even when the department is not added issue solved.
                    </p>

                </div>
            </ng-template>
        </e-accordionitem>




        <e-accordionitem>
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.8</small> - <span> 14 jan 2021</span></div>
            </ng-template>
            <ng-template #content>
                <div>
                    <p>
                        <span class="label label-megna">New</span> ELN User Setting
                    </p>
                    <p>
                        <span class="label label-megna">New</span> User Management Additional User information tab
                        Added.
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> ICS,EQS Calibration and Maintenance First Due Date
                        Issue Solved.
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> Usermanagement Excel Export and Pdf Ecport Issue
                        Solved.
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> Usermanagement Audit trail time Format issue solved.
                    </p>

                </div>
            </ng-template>
        </e-accordionitem>





        <e-accordionitem>
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.7</small> - <span>31 Dec 2020</span></div>
            </ng-template>
            <ng-template #content>
                <div>
                    <p>
                        <span class="label label-danger">Bug</span> Folder being created when a document is attached get
                        a default date of 1-jan-01 solved.
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> Calibration and Service attachment issue solved..
                    </p>
                    <p>
                        <span class="label label-megna">New</span> Link ICS,EQS Help Pdf file on Help icon.
                    </p>
                    <p>
                        <span class="label label-megna">New</span> Email Notification For Maintenance And Calibration
                        Due.
                    </p>
                </div>
            </ng-template>
        </e-accordionitem>
        <e-accordionitem>
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.6</small> - <span>29 Dec 2020</span></div>
            </ng-template>
            <ng-template #content>
                <div>
                    <p>
                        <span class="label label-megna">New</span> Email Notification For Maintenance And Calibration
                        Due.
                    </p>
                    <p>
                        <span class="label label-megna">New</span> Apply Search and Paging In Adminstration Grids.
                    </p>
                    <p>
                        <span class="label label-megna">New</span> ICS and EQS Master Documents Tab: Disabled Delete in
                        file Manager.
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> ICS and EQS Master : Edit record, add image, URS and
                        PO images Update Then go to next and come back images were not available
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> Sidebar Maintenance: For Annual Next Due date is not
                        proper(Due to NA getting saved for annual)
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> ICS Qualification Master Tab date check
                        validation(Getting saved without date)
                    </p>
                    <p>
                        <span class="label label-danger">Bug </span> ICS master Tab: Maintenance in Grid annual is
                        displaying NA it should be 12.
                    </p>
                    <p>
                        <span class="label label-danger">Bug </span> ICS and EQS Master:Qualification Tab (removed the
                        initial sentence message)
                    </p>
                </div>
            </ng-template>
        </e-accordionitem>
        <e-accordionitem>
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.5</small> - <span>22 Dec 2020</span></div>
            </ng-template>
            <ng-template #content>
                <div>

                    <p>
                        <span class="label label-megna">New</span> Ics And Eqs Access Rights.
                    </p>
                    <p>
                        <span class="label label-megna">New</span> Filemanager Detail View,Download Option Enabled
                    </p>
                    <p>
                        <span class="label label-megna">New</span> The Decimal Point removed if the input is whole
                        number
                    </p>
                    <p>
                        <span class="label label-megna">New</span> Added AutoComplete For Instrument Id,Manufacturer,URS
                        No,PO No In Ics And Eqs Module
                    </p>
                    <p>
                        <span class="label label-danger">Bug </span> Ics And Eqs Grid Filter By Date And Export Excel.
                    </p>
                </div>
            </ng-template>
        </e-accordionitem>


        <e-accordionitem>
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.4</small> - <span>16 Dec 2020</span></div>
            </ng-template>
            <ng-template #content>
                <div>
                    <p>
                        <span class="label label-megna">New</span> ICS and EQS Master Tab file manager integrated with
                        Bucket
                    </p>
                    <p>
                        <span class="label label-megna">New</span> Annual Maintenance set to 12 months default
                    </p>
                    <p>
                        <span class="label label-megna">New</span> Parameter: Instrument/Equipment Name label added
                    </p>
                </div>
            </ng-template>
        </e-accordionitem>
        <e-accordionitem>
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.3</small> - <span>8 Dec 2020</span></div>
            </ng-template>
            <ng-template #content>
                <div>
                    <p>
                        <span class="label label-megna">New</span> Mail notification of ELN
                    </p>
                    <p>
                        <span class="label label-danger">Bug</span> Bug fixes for ELN
                    </p>
                    <p>
                        <span class="label label-megna">New</span> ICS and EQS Attachments
                    </p>
                    <p>
                        <span class="label label-megna">Bug</span> Master Tab: Calibration 4 is not getting selected
                        Solved
                    </p>
                </div>
            </ng-template>
        </e-accordionitem>
        <e-accordionitem>
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.2</small> - <span>24 Nov 2020</span></div>
            </ng-template>
            <ng-template #content>
                <div>
                    <p>
                        <span class="label label-megna">New</span> Push notification for ELN Module
                    </p>
                    <p>
                        <span class="label label-megna">New</span> Authorization for User Management module
                    </p>
                </div>
            </ng-template>
        </e-accordionitem>
        <e-accordionitem>
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.1</small> - <span>20 Nov 2020</span></div>
            </ng-template>
            <ng-template #content>
                <div>
                    <p>
                        <span class="label label-megna">New</span> User Management (administration module)
                    </p>
                    <p>
                        <span class="label label-megna">New</span>Login authentication using azure Active directory
                    </p>
                </div>
            </ng-template>
        </e-accordionitem>
        <e-accordionitem>
            <ng-template #header>
                <div class="font-20"><small>Version - 1.0.0.0</small> - <span>4 Oct 2020</span></div>
            </ng-template>
            <ng-template #content>
                <div>
                    <p>
                        <span class="label label-megna">New</span> ELN Module
                    </p>
                    <p>
                        <span class="label label-megna">New</span> User Management (administration module)
                    </p>
                    <p>
                        <span class="label label-megna">New</span> Authorization for ELN module
                    </p>
                </div>
            </ng-template>
        </e-accordionitem>
    </e-accordionitems>
</ejs-accordion>