<div class="row">
    <div class="col-md-12"  style="padding-top: 30px;"> 
      <div class="card">
        <ngb-tabset #t="ngbTabset" class="tabset1">
          <ngb-tab id="tab-selectbyid1" title="Approver List">
            <ng-template ngbTabContent>
              <form >

                <div class="col-md-6">
                  <label for="Lead" class="col-sm-4 control-label col-form-label">
                   Initiator Lead:
                  </label>
                </div>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" 
                    placeholder="Auto">
                  </div>
                <div class="col-md-6">
                  <label for="Head" class="col-sm-4 control-label col-form-label">
                    Initiator Function Head:
                  </label>
                </div>

                  <div class="col-md-6">
                    <input type="text" class="form-control" 
                    placeholder="Auto">
                  </div>
                <div class="col-md-6">
                  <label for="ContactNo" class="col-sm-4 control-label col-form-label">
                    QA Team Approvers:
                  </label>
                </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" 
                    placeholder="Auto">
                  </div>
                  <div class="col-md-6">
                    <label for="ContactNo" class="col-sm-4 control-label col-form-label">
                      Crossfunctional Team:
                    </label>
                  </div>
                  <table style="width:100%">
                    <tr>
                      <th>Department Name</th>
                      <th>Department Haed</th>
                    </tr>
                    <tr>
                      <td>Research and Development</td>
                      <td>Name</td>
                      
                    </tr>
                    
                  </table>
                  
              </form>
            </ng-template>
          </ngb-tab>
          
        </ngb-tabset>
      </div>
    </div>
  </div> 
