    <div class="col-md-12">
    <div class="row">
        <div class="col-md-12 " style="padding-top: 30px;">
          <div class="row ">
              <div class="col-md-2">
                  <label for="EquipmentName" class="control-label col-form-label">Equipment Name:</label>
               </div>
               <div class="col-md-2">
                  <ejs-dropdownlist id='ObjEquipmentTypeList'  [fields]='fields'  [dataSource]='ObjEquipmentTypeList'
                  [popupHeight]='height' [allowFiltering]='true' [placeholder]='watermark'  (change)="GetEquipmentIdByName($event)"
                  width=100% >
                </ejs-dropdownlist>
                </div>
                <div class="col-md-2">
                <label for="EquipmentID" class="control-label col-form-label">Equipment Id:</label>
              </div>
              <div class="col-md-2">
                 <ejs-dropdownlist id='EquipmentID'  [fields]='fields' (change)="GetEquipmentListById($event)"
                 [popupHeight]='height' [allowFiltering]='true' [placeholder]='watermark' [dataSource]='ObjEquipmentListNew'
                 width=100%  >
               </ejs-dropdownlist>
               </div>
          </div>
         
        </div>
       
      </div>
</div>



<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class=" no-block align-items-center" *ngIf="PageAccessRight.HasWriteAccess">
        <h4 class="card-title"> </h4>
       <div class="ml-auto mb-2  buttons_padding" style="padding-left: 87%" >
    <!--   <button class="addbtn_style" ejs-button (click)="openAddModal(content3)">
             <i class="fas fa-plus-circle"></i>
         <img src="assets/images/Add_Ico.ico"   />  comment 
            &nbsp;&nbsp;Add Maintenance</button> -->
        </div> 
      </div>
      <div *ngIf="!PageAccessRight.HasWriteAccess"><br /> <br /></div>
   <div *ngIf="show">  
      <div class="table-responsive">
        <ejs-grid #grid id='Grid' [dataSource]='ObjMaintenanceListNew' [allowPaging]='true'  [pageSettings]='pageSettings' [allowSelection]='true' allowFiltering='true' [filterSettings]='filterOptions' [toolbar]='toolbarOptions' [allowExcelExport]='true'
          (toolbarClick)='toolbarClick($event)' [gridLines]="lines" [enableHover]='false' [allowSorting]='true'[toolbar]='toolbar'          e-gridheader='' height='363px'  allowTextWrap='true'  [textWrapSettings]='wrapSettings'  [showColumnMenu]="true" [allowGrouping]="true"
          (excelQueryCellInfo)='excelQueryCellInfo($event)'  (excelExportComplete)='excelExportComplete()' [allowPdfExport]="true" (pdfHeaderQueryCellInfo)='pdfHeaderQueryCellInfo($event)'
          (created)="created($event)"  (commandClick)="actionMaintennace($event)"   [groupSettings]="groupOptions"
          (rowDataBound)="rowDataBound($event)"  (queryCellInfo)="queryCellInfo($event)"
           >
          <e-columns>
            <!-- <e-column headerText='Action' textAlign='center'  [commands]="commands" width='120'> -->
              <div *ngIf="PageAccessRight.HasWriteAccess">
             <e-column headerText='Action' textAlign='center'  width='200'>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <ng-template #template let-data>
                            <div class="row">
                              <div class="col-md-6">
                                  <button class="addbtn1_style"  [disabled]="!data.ShowMaintenanceEditButton" (click)="EditMaintennace($event,data)" ejs-button >
                                      <i class="fa fa-edit"></i>        
                                      &nbsp;Edit</button>
                
                              </div>
                              <div class="col-md-6">
                                  <button class="addbtn1_style" [disabled]="!data.ShowMaintenanceAddButton"  (click)="addMaintennace($event,data)" ejs-button >
                                      <i class="fas fa-plus-circle"></i>        
                                      &nbsp;Add</button>
                                </div>
                            </div>
                            </ng-template>
                          </div>
                    </div>
                  </div>
            <!--   <ng-template #template let-data>
                <div class="loc">
              
                <button class="addbtn_style"  [disabled]="!data.ShowMaintenanceEditButton" (click)="EditMaintennace($event,data)" ejs-button >
                      <i class="fa fa-edit"></i>        
                      &nbsp;Edit</button>


                             <button class="addbtn_style" [disabled]="!data.ShowMaintenanceAddButton"  (click)="addMaintennace($event,data)" ejs-button >
                      <i class="fas fa-plus-circle"></i>        
                      &nbsp;Add</button>
             
                </div>
              </ng-template>  -->
            </e-column>
           </div>

            <e-column field='EquipmentId' headerText='Equipment Id' headerTextAlign="center" textAlign="left" width=130>
            </e-column>
            <e-column field='EquipmentTypeName' headerText='Equipment Name'  headerTextAlign='center' textAlign='left'
              format='C2' width=160>
            </e-column>
            <e-column field='MaintenanceMasterType' headerText='Type of Action' headerTextAlign='center' textAlign='left' width=130></e-column>
            <e-column field='EqsMaintenanceDueDate' headerText='Due Date'headerTextAlign='center' textAlign='left' [format]='formatOptions' [filter]='filter' width=130>
            </e-column>
            <e-column field='EqsMaintenancePerformDate' headerText='Performed Date' headerTextAlign='center' textAlign='left'  [format]='formatOptions' [filter]='filter'
              width=150></e-column>
            <e-column field='EqsMaintenanceNextDueDate' headerText='Next Due Date'headerTextAlign='center' textAlign='left'  [format]='formatOptions'  [filter]='filter' width=150>
            </e-column>
            <e-column headerText="Attachment" textAlign="center" width="150">
              <ng-template #template let-data>
                  <div><a (click)="openAddModal(content4);setRowId(data);"><i [ngClass]="(data.HasAttachments===true)?'far fa-folder-open':'far fa-folder'"></i></a></div>
              </ng-template>
            </e-column>
            <e-column field='EqsMaintenanceDescription' headerText='Description' headerTextAlign='center' textAlign='left' format='yMd'
              width=130></e-column>
          </e-columns>
        </ejs-grid>
         </div>
        </div> 
    </div>
  </div>
</div>
<ng-template #content3 let-modal>
  <div class="modal_header">
    <!-- <h5 class="modal-title" *ngIf="!IsMaintenanceEdit">Add Maintenance Details</h5>
    <h5 class="modal-title" *ngIf="IsMaintenanceEdit">Edit Maintenance Details</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
    <div class="col-md-12">
      <div class="row">
          <div class="col-md-6">
            <h5 class="modal-title" *ngIf="!IsMaintenanceEdit">Add Maintenance </h5>
            <h5 class="modal-title" *ngIf="IsMaintenanceEdit">Edit Maintenance </h5>
          </div>
          <div class="col-md-6" class="Close_Popup">
                  <i class="fas fa-times" (click)="modal.dismiss('Cross click')" ></i>
          </div>

      </div>
  </div>
  </div>
  <div class="modal-body">
    <form [formGroup]='MaintenanceForm'>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="EquipmentID" class="control-label col-form-label">Equipment ID:</label><span
                  class="text-danger">*</span>
                <ejs-dropdownlist id='EquipmentID' [dataSource]='ObjEquipmentList' [fields]='fields'
                   [popupHeight]='height' [allowFiltering]='true'
                  [placeholder]='watermark' (change)='GetEquipmentTypeAndMaintenanceTypeById($event)'
                  formControlName="EqsEquipmentId" [disableControl]="IsMaintenanceEdit" width=76%>
                </ejs-dropdownlist>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="EquipmentType" class="control-label col-form-label">Equipment Name:</label>
                <!--   <div class="UnderLine_Type"  ><label class="col-form-label">{{objEquipmentType['Name']}}</label>  -->
                   <div class="UnderLine_Type"  ><label class="col-form-label">{{ObjEquipmentTypeName}}</label>
                   </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="Type" style="padding-left: 2px;" class="control-label col-form-label ml-auto offset-1 p-l-40"> Maintenance Type:</label><span class="text-danger">*</span>
                <ejs-dropdownlist id='Type' [dataSource]='objMaintenanceType' [fields]='fields'
                  (filtering)='onFiltering($event)' [popupHeight]='height' [allowFiltering]='true'
                  [placeholder]='watermark' name="MaintenanceTypeMasterId" (change)='ValidateEquipmentMaintenance($event)'
                  formControlName="MaintenanceTypeMasterId"   ></ejs-dropdownlist>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr style="background-color: #a9a9a9;">
      <div class="col-md-12" style="margin-top: 10px;">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <label for="PerformanceDate" class="control-label col-form-label">Performance Date:</label><span
                  class="text-danger">*</span>
              </div>
              <div class="col-md-6">
                <ejs-datepicker [value]='dateValue' placeholder='Enter date' name='EqsMaintenancePerformDate'
                  formControlName="EqsMaintenancePerformDate"></ejs-datepicker>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-3">
                <label style="padding-top: 20px;" for="Attachment" class=" control-label col-form-label">Attachment:</label>
              </div>
              <div class="col-md-9">
              <ejs-uploader
                  #defaultupload
                  [autoUpload]="false"
                  [dropArea]="dropEle"
                  formArrayName='AttachmentList'
                  (selected)="onFileSelect($event)"
                ></ejs-uploader>
                <small class="form-text link">* multiple attachment</small>
                <div *ngFor="let item of AttachmentList">
                  <!-- <label for="">{{item.AttachmentPath}}</label> -->
                  <label class="link" (click)="DownLoadFile(item.AttachmentPath)">{{item.ImageName}}</label>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="margin-top: 10px;">
          <div class="row">
            <div class="col-md-3">
              <div class="col-md-12">
                <label for="Description" class="control-label col-form-label">Description:</label>
              </div>
            </div>
            <div class="col-md-9">
              <div class="col-md-12">
                <textarea class="form-control frm_tabtxtarea cye-lf-tag" rows="5" name='EqsMaintenanceDescription'
                  formControlName="EqsMaintenanceDescription"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="addmodal_style" ejs-button
      (click)="SaveMaintenance()" *ngIf="!IsMaintenanceEdit">
      Add</button>
    <button class="addmodal_style"  (click)="UpdateMaintenance()"
      *ngIf="IsMaintenanceEdit" ejs-button>
      Update
    </button>
    <button class="cancel_style" (click)="modal.close('Close click');resetForm();" ejs-button>cancel</button>
  </div>
</ng-template>
<ng-template #content4 let-modal>
  <div class="modal_header">
    <!-- <h5 class="modal-title">Attachments</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
    <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
              <h5 class="modal-title">Attachments</h5>
          </div>
          <div class="col-md-6" class="Close_Popup">
            <i class="fas fa-times" (click)="modal.dismiss('Cross click')"></i>
          </div>

        </div>
      </div>
  </div>
  <div class="modal-body">
    <ejs-filemanager id='overview' #fileManagerCtrl [ajaxSettings]='ajaxSettings' [searchSettings]='searchSettings' (beforeDownload)="beforeSend($event)"
        (beforeImageLoad)="beforeSend($event)" [rootAliasName]="'Attachments'" (beforeSend)="beforeSend($event)" [contextMenuSettings]='contextMenuSettings' [toolbarSettings]='toolbarSettings' view='Details'>
    </ejs-filemanager>
  </div>
</ng-template>
