/*.wrapper{
  margin-top: 40px;
}*/

.boxModule {
    float: left;
    margin-bottom: 50px;
    padding: 0 20px;
}

.cards {
    line-height: 3;
}

.icon_1 {
    width: 30%;
    float: left;
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 3px 6px rgb(110, 110, 110);
    background-color: #087a7a;
}

.text2 {
    text-align: center;
    color: white;
    float: right;
    padding: 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    width: 70%;
    height: 105px;
    background-color: #09ada8;
    word-break: break-word;
}

.second_row {
    margin-top: 8%;
}

.first_row {
    margin-top: 8%;
}

.cursorHand :hover {
    cursor: pointer;
}

.modulelink {
    margin: 2%;
}

.text2:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.text2 h5 {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}