<div style="padding-top: 30px;width: 900px;
border: 2px solid #08a1a1;
padding-bottom: 20px;
margin: 20px; margin-left: 15%">

<div class="col-md-12">
    <div class="row">
            <div class="col-md-4">
                    <img style="padding-left: 8%;" src="assets/images/immuneel/Imm.png"  class="light-logo" />  
                </div>
        <div class="col-md-4">
            <h4 style="text-align: center">Audit Certificate</h4>
        </div>
        <div class="col-md-4">
                <h5 style="text-align: center">AUD2020001</h5>
            </div>
    </div>
</div>
<br>
<div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
               <p style="text-align: center">As part of quality compiliance____(DEP) was audited by quality assurance on____(Date)<br>
                   and all observations were closed appropriately.
               </p>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="padding-top: 30px;">
            <div class="row">
                <div class="col-md-6" >
                       
                      <h6 style="text-align: center">QA Auditor Signature</h6>
                
                </div>
                <div class="col-md-6" style="padding-left: 15%;">
                        
                      <h6>Approved Signature</h6>
                
                    </div>
            </div>
        </div>
</div>
<div class="col-md-12 frm_tabpanel">
        <div class="row">
          <div class="col-md-12" style="
              background-color: white;
              color: #08a1a1;
              padding-top: 5px;
            ">
            <div class="row">
              <div class="col-md-2">
                <label for="AuditTimeTable">
               Prepared By -Employee Name:</label>
              </div>
              <div class="col-md-10"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-right">
            <div class="custom-control " >
                    <button type="submit" class="btn_frmsubmit" ejs-button>
                            Sign & Submit
                        </button>
                        <button type="submit" class="btn_frmcancel" ejs-button>
                                Cancel
                              </button>
              
            </div>
        </div>
      <div class="col-md-12 frm_tabpanel">
            <div class="row">
              <div class="col-md-12" style="
                  background-color: White;
                  color: #08a1a1;
                  padding-top: 5px;
                ">
                <div class="row">
                  <div class="col-md-2">
                    <label for="AuditTimeTable">
                   Approved By -Employee Name:</label>
                  </div>
                  <div class="col-md-10"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-right">
                <div class="custom-control " >
                        <button type="submit" class="btn_frmsubmit" ejs-button>
                                Sign & Submit
                            </button>
                            <button type="submit" class="btn_frmcancel" ejs-button>
                                  Cancel
                                </button>
                       
                  
                </div>
            </div>
            <div class="col-md-12 text-right">
                    <div class="custom-control " >
                            <button type="submit" class="btn_frmsubmit" ejs-button>
                                   Back
                                </button>
                                <button type="submit" class="btn_frmsubmit" ejs-button>
                                        Send to auditee
                                    </button>
                       
                      
                    </div>
                </div>