<div style="padding-top: 28px;">
<ejs-grid [dataSource]='Data' [gridLines]="lines" [filterSettings]='filterOptions'
    height='410px' >
    <e-columns>        
        <e-column field='ParentSampleId' headerText='Parent Sample Id' textAlign='Center'  width=60></e-column>
        <e-column field='SampleId' headerText='Sample Id' textAlign='Center' width=60></e-column>
        <e-column field='BarcodeId' headerText='Barcode Id' textAlign='Center' width=60></e-column>
        <e-column field='BarcodeSeries' headerText='Barcode Series' textAlign='Center' width=60></e-column>
        <e-column field='BarcodeHeader' headerText='Barcode Header' textAlign='Center' width=60></e-column>
        <e-column field='BarcodeFooter' headerText='Barcode Footer'   textAlign='Center'  width=60></e-column>
        <e-column field='SampleStorage' headerText='Sample Storage'   textAlign='Center'  width=60></e-column>
        <e-column field='Department' headerText='Department'   textAlign='Center'  width=60></e-column>
        <e-column  headerText='Issue Date' textAlign='Center'  width=60></e-column>
    </e-columns>
</ejs-grid>
</div>