<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <!-- <div class="c_header">
                    <h4>Raise Outward Request</h4>
                                    </div> -->
                <!-- <div class="card-body"> -->



                       
                    <div class="col-md-12 frm_tabpanel">
                        <div class="row">
                        <div class="col-md-6">
                         <div class="row">
                           <div class="col-md-4">
                              <label for="MaterialId">Material ID:</label>
                           </div>
                           <div class="col-md-6">
                        
                              <ejs-combobox id='MaterialId' [dataSource]='data' [fields]='fields' (filtering)='onFiltering($event)' [popupHeight]='height' [allowFiltering]='true'
                                                                  [placeholder]='watermark'></ejs-combobox>
                            </div>
                         </div>
                      
                        </div>
                        
                        <div class="col-md-6">
                                <div class="row">
                                        <div class="col-md-4">
                                                <label for="Approver">Approver:</label>
                                            </div>
                                            <div class="col-md-6">
                                         
                                                    <ejs-combobox id='Approver' [dataSource]='data' [fields]='fields' (filtering)='onFiltering($event)' [popupHeight]='height' [allowFiltering]='true'
                                                    [placeholder]='watermark'></ejs-combobox>
                                             </div>
              
                                     <!-- </div> -->
                                  </div>
                            
                              </div>
                      </div>  
                      </div>  
                      <div class="col-md-12 frm_tabpanel">
                            <div class="row">
                            <div class="col-md-6">
                             <div class="row">
                               <div class="col-md-4">
                                   <label for="MaterialName">Material Name:</label> 
                               </div>
                               <div class="col-md-6">
                            
                                  <ejs-combobox id='MaterialName' [dataSource]='data' [fields]='fields' (filtering)='onFiltering($event)' [popupHeight]='height' [allowFiltering]='true' 
                                                                       [placeholder]='watermark'></ejs-combobox> 
                                </div>
                             </div>
                          
                            </div>
                            
                            <div class="col-md-6">
                                    <div class="row">
                                            <div class="col-md-4">
                                                    <label for="Approver">Backup Approver:</label>
                                                </div>
                                                <div class="col-md-6">
                                             
                                                        <ejs-combobox id='Approver' [dataSource]='data' [fields]='fields' (filtering)='onFiltering($event)' [popupHeight]='height' [allowFiltering]='true'
                                                        [placeholder]='watermark'></ejs-combobox>
                                                 </div>
                  
                                         <!-- </div> -->
                                      </div>
                                
                                  </div>
                          </div>  
                          </div>  



                      <div class="col-md-12 frm_tabpanel">
                          <div class="row">
                          <div class="col-md-6">
                           <div class="row">
                             <div class="col-md-4">
                                <label for="Lotno">LOT Number:</label>
                             </div>
                             <div class="col-md-6">
                          
                                <ejs-combobox id='Lotno' [dataSource]='data' [fields]='fields' (filtering)='onFiltering($event)' [popupHeight]='height' [allowFiltering]='true'
                                [placeholder]='watermark'></ejs-combobox>

                              </div>
                           </div>
                        
                          </div>
                          
                          <div class="col-md-6">
                              <div class="row">
                                  <div class="col-md-4">
                                      <label for="AvailableQ">Available Quantity:</label>
                                  </div>
                                  <div class="col-md-6">
                               
                                      <!-- <input type="text" class="form-control" id="Approver" placeholder=""> -->
                                   </div>
                                </div>
                          
                            </div>
                        </div>  
                        </div>  


                        <div class="col-md-12 frm_tabpanel">
                            <div class="row">
                            <div class="col-md-6">
                             <div class="row">
                               <div class="col-md-4">
                                    <label for="MfgDate">Manufacturing Date:</label>
                               </div>
                               <div class="col-md-6">
                                  <!-- <ejs-combobox id='Lotno' [dataSource]='data' [fields]='fields' (filtering)='onFiltering($event)' [popupHeight]='height' [allowFiltering]='true'
                                  [placeholder]='watermark1'></ejs-combobox>
   -->
                                </div>
                             </div>
                          
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="Quantity">Quantity:</label>
                                    </div>
                                    <div class="col-md-6">
                                 
                                        <input type="text" class="form-control" id="Quantity" placeholder="">
                                     </div>
                                  </div>
                            
                              </div>
                          </div>  
                          </div>  

                          <div class="col-md-12 frm_tabpanel">
                              <div class="row">
                              <div class="col-md-6">
                               <div class="row">
                                 <div class="col-md-4">
                                        <label for="ExpiryDate">Expiry Date:</label>
                                 </div>
                                 <div class="col-md-6">
                                    <!-- <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker> -->
                                  </div>
                               </div>
                            
                              </div>
                              
                              <div class="col-md-6">
                                  <div class="row">
                                      <div class="col-md-4">
                                          <label for="ReqRaiseBy">Request Raised By:</label>
                                      </div>
                                      <div class="col-md-6">
                                   
                                          <input type="text" class="form-control" id="ReqRaiseBy" placeholder="">
                                       </div>
                                    </div>
                              
                                </div>
                            </div>  
                            </div>  


                            <div class="col-md-12 frm_tabpanel">
                                <div class="row">
                                <div class="col-md-6">
                                 <div class="row">
                                   <div class="col-md-4">
                                        <label for="StorageLoc"> Storage Location:</label>
                                   </div>
                                   <div class="col-md-6">
                                        <ejs-combobox id='CatNo' [dataSource]='data' [fields]='fields' (filtering)='onFiltering($event)' [popupHeight]='height' [allowFiltering]='true'
                                        [placeholder]='watermark'></ejs-combobox>
                                    </div>
                                 </div>
                              
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="ReqRaiseDate">Request Raised Date:</label>
                                        </div>
                                        <div class="col-md-6">
                                     
                                            <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                         </div>
                                      </div>
                                
                                  </div>
                              </div>  
                              </div>  

                              <div class="col-md-12 frm_tabpanel">
                                  <div class="row">
                                  <div class="col-md-6">
                                   <div class="row">
                                     <div class="col-md-4">
                                            <label for="PurpofUse">Purpose of Use:</label>
                                     </div>
                                     <div class="col-md-6">
                                            <input type="text" class="form-control" id="PurpofUse" placeholder="">
                                      </div>
                                   </div>
                                
                                  </div>
                                  
                                  <div class="col-md-6">
                                      <div class="row">
                                          <div class="col-md-4">
                                              <!-- <label for="PurpofUse">Purpose of Use:</label> -->
                                          </div>
                                          <div class="col-md-6">
                                       
                                              <!-- <input type="text" class="form-control" id="PurpofUse" placeholder=""> -->
                                           </div>
                                        </div>
                                  
                                    </div>
                                </div>  
                                </div>  
  
                      
          
                            
                                                               
                                                                   
                    
                                                                      
                                                                       
                                                                           
                                   
                                                                                  
                                                                                  
    
                                                                                    
                                                                                         

                                                                                          <div class="form-actions">
                                                                                            <!-- <div class="card-body"> -->
                                                                                                <div class="d-flex no-block align-items-center">
                                                                                                  <div class="ml-auto">
                                                                                                    <div class="custom-control custom-checkbox">
                                                                                                      <button type="submit" class="btn_frmsubmit" ejs-button>  <i class="fa fa-check"></i> &nbsp;Submit </button>
                                                                                                        <!-- <i class="ti-save"></i>  -->
                                                                                                        
                                                                                                 
                                                                                                  </div>
                                                                                                  </div>
                                                                                              </div>
                                                                                            <!-- </div> -->
                                                                                        </div> 
                    

                    <!-- </div> -->
                    </div>
                    </div>
                    </div>


