<div class="row">
  <div class="col-md-12">
    <div class="card" style="padding-top: 28px;">
      <!-- <ngb-tabset #t="ngbTabset"> -->
      <ngb-tabset class="tabset1" #t="ngbTabset">
        <!-- <ngb-tab id="tab-selectbyid2" title="User Settings">
          <ng-template ngbTabContent> </ng-template>
        </ngb-tab>

        <ngb-tab id="tab-selectbyid3" title="Alert Settings">
          <ng-template ngbTabContent> </ng-template>
        </ngb-tab> -->

        <ngb-tab id="tab-selectbyid4" title="Custom Header Field">
          <ng-template ngbTabContent>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <div class="">
                    <div class="">
                      <div class="mr-2">
                        <div class="custom-control custom-checkbox" *ngIf="PageAccessRight.HasWriteAccess">
                          <button type="submit" class="addbtn_style" ejs-button
                            (click)="addcustomheader(addcustomheaderModal)">
                            Add
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #addcustomheaderModal let-modal>
              <div class="modal_header">
                  <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <h5 class="modal-title" *ngIf="!IsCustomerHeaderEdit">Add Custom Header</h5>
                          <h5 class="modal-title" *ngIf="IsCustomerHeaderEdit">Edit Custom Header</h5>
                        </div>
                        <div class="col-md-6" class="Close_Popup">
                          <i class="fas fa-times" (click)="modal.dismiss('Cross click')"></i>
                        </div>

                      </div>
                    </div>
                <!-- <h5 class="modal-title" *ngIf="!IsCustomerHeaderEdit">Add Custom Header</h5>
                <h5 class="modal-title" *ngIf="IsCustomerHeaderEdit">Edit Custom Header</h5>
                <button type="button" class="close" aria-label="close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button> -->
              </div>
              <div class="modal-body">
                <form class="form-horizontal" [formGroup]="CustomHeaderForm" autocomplete="off">
                  <div class="form-group row">
                    <label for="FieldName" class="col-sm-4 control-label col-form-label">Field Name:
                      <span class="text-danger">*</span>
                    </label>
                    <div class="col-sm-8" print-error [control]="CustomHeaderForm.get('CustomHeaderFieldName')">
                      <input type="text" class="form-control" id="FieldName" name="CustomHeaderFieldName"
                        formControlName="CustomHeaderFieldName" placeholder="" />
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button class="addmodal_style" *ngIf="!IsCustomerHeaderEdit"
                (click)="SaveCustomHeaderMaster()" ejs-button>
                  Add
                </button>
                <button class="addmodal_style"
                (click)="UpdateCustomHeader()" *ngIf="IsCustomerHeaderEdit" ejs-button>
                Update
              </button>
                <button class="cancel_style" (click)="modal.close('Close click')" ejs-button>
                  cancel
                </button>
              </div>
            </ng-template>
            <div class="table-responsive setting_table" style="padding-left: 30%;" >
            <ejs-grid #grid  id="Grid" [dataSource]="objCustomHeaderList" allowFiltering="true" allowPaging='true' [pageSettings]='pageSettings'
              [filterSettings]="filterOptions" [allowSorting]="true" [gridLines]="lines" [toolbar]="toolbar"
              height="410px" width=60% (commandClick)="actionCustomHeader($event)"
              (toolbarClick)='toolbarClick($event)'  [allowExcelExport]='true'  (pdfHeaderQueryCellInfo)='pdfHeaderQueryCellInfo($event)' [allowPdfExport]="true"
              (created)="created($event)">
              <e-columns>
                <e-column headerText='Action' textAlign='center'  [visible]='IsVisible' [commands]="commands" width='70'></e-column>
                <e-column field="CustomHeaderFieldName" headerText=" Field Name" textAlign="Center" isPrimaryKey="true" width="150">
                </e-column>
              </e-columns>
            </ejs-grid>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-selectbyid5" title="Instrument Name">
          <ng-template ngbTabContent>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <div class="">
                    <div class="">
                      <div class="mr-2">
                        <div class="custom-control custom-checkbox" *ngIf="PageAccessRight.HasWriteAccess">
                          <button type="submit" class="addbtn_style" ejs-button
                            (click)="addinstrumenttype(addinstrumentypeModal)">
                            Add
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #addinstrumentypeModal let-modal>
              <div class="modal_header">
                  <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <h5 class="modal-title" *ngIf="!InstrumentTypeEdit">Add Instrument Name</h5>
                          <h5 class="modal-title" *ngIf="InstrumentTypeEdit">Edit Instrument Name</h5>
                        </div>
                        <div class="col-md-6" class="Close_Popup">
                          <i class="fas fa-times" (click)="modal.dismiss('Cross click')"></i>
                        </div>

                      </div>
                    </div>
                <!-- <h5 class="modal-title" *ngIf="!InstrumentTypeEdit">Add Instrument Name</h5>
                <h5 class="modal-title" *ngIf="InstrumentTypeEdit">Edit Instrument Name</h5>

                <button type="button" class="close" aria-label="close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button> -->
              </div>
              <div class="modal-body">
                <form [formGroup]="InstrumentTypeForm">
                  <div class="form-group row">
                    <label for="Insttype" class="col-sm-4 control-label col-form-label">Instrument Name:<span
                        class="text-danger">*</span></label>
                    <div class="col-sm-8" print-error [control]="InstrumentTypeForm.get('InstrumentTypeName')">
                      <input type="text" class="form-control" id="Insttype" placeholder="" name="InstrumentName"
                       formControlName="InstrumentName" />
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button class="addmodal_style"  *ngIf="!InstrumentTypeEdit"
                  (click)="SaveInstrumentType()" ejs-button>
                  Add
                </button>
                <button class="addmodal_style"  *ngIf="InstrumentTypeEdit"
                  (click)="UpdateInstrumentType()" ejs-button>
                  Update
                </button>
                <button class="cancel_style" (click)="modal.close('Close click')" ejs-button>
                  cancel
                </button>
              </div>
            </ng-template>
            <div class="table-responsive setting_table" style="padding-left: 30%;" >
            <ejs-grid #grid1  id="Grid1" [dataSource]="objInstrumentTypeList" [gridLines]="lines" height="410px" width=60% [allowSorting]="true"
             allowFiltering="true" [filterSettings]="filterOptions" [toolbar]='toolbar' allowPaging='true' [pageSettings]='pageSettings'
             (commandClick)="actionInstrumentType($event)"  (toolbarClick)='toolbarClick($event)'  [allowExcelExport]='true'
             (pdfHeaderQueryCellInfo)='pdfHeaderQueryCellInfo($event)' [allowPdfExport]="true"  (created)="createdInstrumenttype($event)">
              <e-columns>
                <e-column headerText="Action"  [visible]='IsVisible'  textAlign="center" width="140" [commands]="commands"></e-column>
                <e-column field="SerialNo" headerText="Sr. No." textAlign="Center" isPrimaryKey="true" width="150">
                </e-column>
                <e-column field="Name" headerText="Instrument Name" textAlign="Center" isPrimaryKey="true" width="180">
                </e-column>
              </e-columns>
            </ejs-grid>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab id="tab-selectbyid6" title="Location">
          <ng-template ngbTabContent>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <div class="">
                    <div class="">
                      <div class="mr-2">
                        <div class="custom-control custom-checkbox" *ngIf="PageAccessRight.HasWriteAccess">
                          <button type="submit" class="addbtn_style" ejs-button (click)="
                              addstoragelocation(addstoragelocationModal)
                            ">
                            Add
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #addstoragelocationModal let-modal>
              <div class="modal_header">
                  <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <h5 class="modal-title" *ngIf="!StorageEdit">Add Location</h5>
                          <h5 class="modal-title" *ngIf="StorageEdit">Edit Location</h5>
                        </div>
                        <div class="col-md-6" class="Close_Popup">
                          <i class="fas fa-times" (click)="modal.dismiss('Cross click')"></i>
                        </div>

                      </div>
                    </div>
                <!-- <h5 class="modal-title" *ngIf="!StorageEdit">Add Location</h5>
                <h5 class="modal-title" *ngIf="StorageEdit">Edit Location</h5>
                <button type="button" class="close" aria-label="close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button> -->
              </div>
              <div class="modal-body">
                <form [formGroup]="StorageLocationForm">
                  <div class="form-group row">
                    <label for="StorageLoc" class="col-sm-4 control-label col-form-label">Storage Location:<span
                        class="text-danger">*</span></label>
                    <div class="col-sm-8" print-error [control]="StorageLocationForm.get('StorageLocationName')">
                      <input type="text" class="form-control" id="StorageLoc" placeholder="" name="StorageLocationName"
                         formControlName="StorageLocationName" />
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button class="addmodal_style"  *ngIf="!StorageEdit"
                  (click)="SaveStorageLocation()" ejs-button>
                  Add
                </button>
                <button class="addmodal_style"  *ngIf="StorageEdit"
                  (click)="UpdateStorageLocation()" ejs-button>
                  Update
                </button>
                <button class="cancel_style" (click)="modal.close('Close click')" ejs-button>
                  cancel
                </button>
              </div>
            </ng-template>
            <div class="table-responsive setting_table" style="padding-left: 30%;" >
            <ejs-grid #grid2  id="Grid2" [dataSource]="objStorageLocationList" [gridLines]="lines" height="410px" width=60% [allowSorting]="true"
              allowFiltering="true" allowPaging='true' [filterSettings]="filterOptions" [pageSettings]='pageSettings' [toolbar]='toolbar'
              (commandClick)="actionStorageLocation($event)"
              (toolbarClick)='toolbarClick($event)'  [allowExcelExport]='true'  (pdfHeaderQueryCellInfo)='pdfHeaderQueryCellInfo($event)' [allowPdfExport]="true"  (created)="createdstoragelocation($event)">
              <e-columns>
                <e-column headerText="Action"  [visible]='IsVisible' textAlign="center" width="140" [commands]="commands"></e-column>
                <e-column field='SerialNo' headerText="Sr. No." textAlign="Center" isPrimaryKey="true" width="150">
                </e-column>
                <e-column field="Name" headerText=" Location" textAlign="Center" isPrimaryKey="true" width="180">
                </e-column>
              </e-columns>
            </ejs-grid>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
      <!-- </div> -->

      <!-- </div> -->
    </div>
  </div>
</div>
