<div class="col-md-12 text-right">
        <div class="custom-control " style="padding-bottom: 5px;">
                <button type="submit" class="btn_frmsubmit" ejs-button>
                        Save
                    </button>
            <button type="submit" class="btn_frmsubmit" ejs-button>
                Back
            </button>
            <button type="button" class="btn_frmsubmit"  ejs-button>
                Next 
            </button>
            <button type="button" class="btn_frmcancel" ejs-button >
                Cancel
            </button>
        </div>
    </div>
<ejs-accordion>
        <e-accordionitems>
           
            <e-accordionitem expanded='true'>
                <ng-template #header>
                    <div>QA Closure</div>
                </ng-template>
                <ng-template #content>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Proposed CAPA is implemented</label>
                                    </div>
                                    <div class="col-md-1">
                                        <ejs-checkbox label="Yes" [checked]="true"></ejs-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Effectiveness Checked</label>
                                    </div>
                                    <div class="col-md-1">
                                        <ejs-checkbox label="Yes" [checked]="true"></ejs-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Audit Trail Verified</label>
                                    </div>
                                    <div class="col-md-1">
                                        <ejs-checkbox label="Yes" [checked]="true"></ejs-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 frm_tabpanel">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Comments">Comments If any:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <textarea name="Comments" rows="5" cols="125">Type here </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="QualDesignee">Quality Designee/Lead:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input ype="text" name="QualDesignee" class="form-control" placeholder="Auto" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-actions pull-right">
                                    <div class="d-flex no-block align-items-center">
                                        <div class="ml-auto">
                                          
                                            <button type="button" class="btn_frmsubmit" ejs-button>
                                                Sign and Submit 
                                            </button>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr color="teal">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label>Closure is verified by QA:</label>
                                    </div>
                                    <div class="col-md-1">
                                        <ejs-checkbox label="Yes" [checked]="true"></ejs-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label>CAPA Stands Closed</label>
                                    </div>
                                    <div class="col-md-1">
                                        <ejs-checkbox label="Yes" [checked]="true"></ejs-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <ejs-accordion>
                            <e-accordionitems>
                                <e-accordionitem expanded='true'>
                                    <ng-template #header>
                                        <div > Quality Head-Employee Name</div>
                                    </ng-template>
                                    <ng-template #content>
                                        <ejs-grid width='100%' [dataSource]='data1' [editSettings]='editSettings' [toolbar]='toolbar'
                                            height='200px' [gridLines]="lines">
                                            <e-columns>
                                                <!-- <e-column field='EmpList' headerText='Employee List' editType='dropdownedit' [edit]='deptlist'
                                                    width=50 textAlign='Center'></e-column> -->
                                                <e-column field='ChooseAction' headerText='Choose Action' editType='dropdownedit'
                                                    [edit]='action' width=50 textAlign='Center'>
                                                </e-column>
                                                <e-column field='Comments' headerText='Comments' width=120 textAlign='Center'>
                                                </e-column>
                                            </e-columns>
                                        </ejs-grid> 
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-actions pull-right">
                                                        <div class="d-flex no-block align-items-center">
                                                            <div class="ml-auto">
                                                                
                                                                <button type="button" class="btn_frmsubmit" ejs-button>
                                                                    Sign and Submit
                                                                </button>
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </e-accordionitem>
                              
                            </e-accordionitems>
                        </ejs-accordion>
                    
                </ng-template>
            </e-accordionitem>
        </e-accordionitems>
    </ejs-accordion>
